{% extends 'cms/_base.html' %}


{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<!--cards-->
<section>
  <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
    <div class="row pt-md-5 mt-md-3 ml-3 mb-5">
      <div class="container register-form">
        <div class="form">
            <form id="postForm">
              <div class="form-content">
                  <div class="row">
                      <div class="col">
                          <div class="form-group">
                            <label class="text-muted" for="coverImage">Preview Cover Image</label>
                            <div class="text-center mt-2" id="previewBlock" {% if (project and project.coverImage) %}style="display: block"{% else %}style="display: none"{% endif %}>
                              <img class="img-thumbnail d-block m-auto" width="100%" id="previewImage" {% if project %}{% if project.coverImage %}src="{{ url_for('static', filename='images/projects/') + project.coverImage }}"{% endif %}{% endif %}>
                              <button type="button" class="btn btn-secondary mt-2 btn-sm" id="removeImage">Remove image</button>
                            </div>
                            <input type="file" class="form-control" {% if project %}{% if project.coverImage %}style="display: none;"{% endif %}{% endif %} id="coverImage" name="coverImage" accept="image/png, image/jpeg">
                          </div>
                          <div class="form-group form-group-lg">
                              <input type="text" id="title" class="form-control p-3" placeholder="Project title (ENG) *" value={% if project %} "{{project.title}}" {% endif %}>
                          </div>
                          <div class="form-group form-group-lg">
                            <input type="text" id="titleSlo" class="form-control p-3" placeholder="Project title (SLO) *" value={% if project %} "{{project.titleSlo}}" {% endif %}>
                          </div>
                          <div class="form-group form-group-lg">
                            <input type="text" id="projectLeader" class="form-control p-3" placeholder="Project leader *" value={% if project %} "{{project.projectLeader }}" {% endif %}>
                          </div>
                          <div class="form-group form-group-lg">
                            <input type="text" id="projectID" class="form-control p-3" placeholder="Project ID" {% if project %}{% if project.projectID %}value="{{project.projectID }}"{% endif %}{% endif %}>
                          </div>
                          <div class="form-group form-group-lg">
                            <input type="text" id="url" class="form-control p-3" placeholder="External link" {% if project %}{% if project.url %}value="{{project.url }}" {% endif %}{% endif %}>
                          </div>

                          <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <label for="startDate" class="text-muted">Start date *</label>
                                <input type="date" class="form-control" id="startDate" name="startDate" {% if project %}{% if project.startDate %}value="{{ project.startDate }}"{% endif %}{% endif %}>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                <label for="endDate" class="text-muted">End date *</label>
                                <input type="date" class="form-control" id="endDate" name="endDate" {% if project %}{% if project.endDate %}value="{{ project.endDate }}"{% endif %}{% endif %}>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <textarea class="summernote form-control" id="text" name="editordata">{% if project %} {{ project.text }} {% endif %}</textarea>
                          </div>

                          <div class="form-group">
                            <textarea class="summernote form-control" id="textSlo" name="editordata">{% if project %} {{ project.textSlo }} {% endif %}</textarea>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <div class="col-2">
                                <input type="text" class="form-control mb-1" id="tagsInput" placeholder="Tags...">
                              </div>
                              <div class="col-10">
                                <div id="tagsList">
                                  {% if project %}
                                    {% if project.tags %}
                                      {% for tag in project.tags %}
                                        <button class="btn btn-secondary mx-1" type="button"><span class="tagText mr-1">{{ tag }}</span><span class="closeTag ml-1">&#10006;</span></button>
                                      {% endfor %}
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>

                          <p class="text-muted small">* required fields</p>
                          {% if project %}
                            <button type="button" class="btn btn-primary" id="submitEditForm" data-post-id={{ project._id }} data-form-type="projects">Edit</button>
                          {% else %}
                            <button type="button" class="btn btn-primary" id="submitForm" data-form-type="projects">Submit</button>
                          {% endif %}
                      </div>
                  </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module" src="{{ url_for('static', filename='js/cms/postCRUD.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/cms/tags.js') }}"></script>
<script>
  function initializeSummerNote(id, placeholder, tabsize=2, height=400){
    $(`#${id}`).summernote({
        placeholder: placeholder,
        tabsize: tabsize,
        height: height,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
  };
  initializeSummerNote('text', 'English description *');
  initializeSummerNote('textSlo', 'Slovene description *');
</script>

<script>
  const startDate = document.getElementById('startDate');
  startDate.addEventListener('change', function() {
    console.log('Change detected')
    document.getElementById('endDate').min=this.value;
  })
</script>
{% endblock content %}




